$font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;

$dev: true !default;
$rem: 16px !default;

$grids: (
    "breakpoints": (
        "xs": 0,
        "sm": 769px,
        "md": 1024px,
        "lg": 1216px,
        "xl": 1408px,
    ),
    "columns": 12,
    "container-gap": 5px 15px 30px,
    "col-gap": 5px 10px 40px,
) !default;

$gaps: (
    "top": 1px,
    "bottom": 1px,
    "right": 1px,
    "left": 1px,
) !default;

// container from
// 48 * 20 + 64
// 48 * 24 + 64
// 48 * 28 + 64

// 960 1024 = 64 - 20
// 1152 1216 64 - 24
// 1344 1408 64 - 28
